.is-invalid{
    border-color: #f4516c;
    -webkit-box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .25);
    box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .25)
}
.nft-err span {
    font-size: 14px;
    color: #852121;
  }
  .nft-err.ng-star-inserted {
    position: absolute;
    bottom: -24px;
    left: 0;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-bottom: 1px solid #222227;
  text-align: left;
  padding: 8px;
  color: #fff;
  padding: 7px 15px;

}

tr:nth-child(even) {
  color:#bdbdbd;
  background-color: #222227;
}
